*{
    padding: 0;
    border: 0;
    border: none;
    outline: none;
    /* box-sizing: border-box; */
}
html{
    overflow-x: hidden;
    font-size: 65%;
}
body{
    /* background: var(--bg-color); */
}


:root{
    --bg-color:#111111;
    --second-bg-color:#1b1a1a;
    --text-color:white;
    /* --main-color: #04fffb; */
    /* --main-color:#EA1A1A */
    --main-color:#31EE13;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #111111;
}
.header h1{
    color: #31EE13;
}