:root{
    --bg-color:#111111;
    --second-bg-color:#1b1a1a;
    --text-color:white;
    /* --main-color: #04fffb; */
    /* --main-color:#EA1A1A */
    --main-color:#31EE13;
}

*{
    padding: 0;
    border: 0;
    border: none;
    outline: none;
    /* box-sizing: border-box; */
}
html{
    overflow-x: hidden;
    /* -webkit-overflow-scrolling: auto; */
    font-size: 65%;
}
body{
    background: var(--second-bg-color);
    margin: 0px;
    padding: 0px;
}
.header{
    position: sticky;
    top: 0;
    padding: 10px;
    height: 8vh;
}
.header span{
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
.navbar li{
    
    font-size: 20px;
    padding: 3px 0.5rem;
    color: white;
    list-style-type:none;
    display: inline-block;
}
.navbar a:hover{
    color: #31EE13;
    border-bottom: 1px solid #31EE13;
}

.header{    /* position: sticky; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #111111; */
    cursor: pointer;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
}
.header h1{
    color: #31EE13;
}
.home,.about, .skills ,.projects,.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.homediv{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: black;
    padding: 0 10px;
    width: 95vw;
    height: 86vh;
    border-radius: 16px;   
    background: rgba(0, 0, 0, 0.7);
    color: white;
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: conver;
    opacity: 0.8;

}
.homediv span{
    /* color:green; */
    font-size: 150px;
    transition: font-size 1s;
}
.homediv span:hover{
    color:green;
    font-size: 250px;
}

.abdiv{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: red;
    padding: 0 10px;
    width: 95vw;
    height: 86vh;
    border-radius: 16px;   
}

.skldiv{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: green;
    padding: 0 10px;
    width: 95vw;
    height: 86vh;
    border-radius: 16px;   
}
.prjdiv{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: red;
    padding: 0 10px;
    width: 95vw;
    height: 86vh;
    border-radius: 16px;   
}
.condiv{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: yellow;
    padding: 0 10px;
    width: 95vw;
    height: 86vh;
    border-radius: 16px;   
}
.homediv{
    display: flex;
    align-items: center;justify-content: center;
}
#detailsbox{
    border-radius: 10px;
    border: 1px solid white;
    height: 75vh;width: 25vw;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}